body {
	font-family: 'Roboto Condensed', sans-serif;
	padding: 1rem;
	width: 100%;
	margin: 0 auto;
	background: #22313F;
	color: #fff;
}
h1 {
	font-size: 2rem;
	text-align: center;
}
main {
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

svg {

}

g text {
	display: inline-block;
	fill: #fff;
	font-size: 11px;

}


