body {
	font-family: 'Roboto Condensed', sans-serif;
	background: #22313F;
	color: #fff;
}
svg {
	/*border: 1px solid white;*/
}
h1 {
	font-size: 2rem;
	text-align: center;
}

input[type=button] {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin: 2rem 0;
	background: transparent;
	font-size: 2rem;
	color: #F4D03F;
	outline: none;
	box-shadow: none;
	border: 1px solid #CCC; 
}
input[type=button]:hover{
	background: #336E7B;
}
input[type=button]:active{
	scale: 1.5;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 2.5px;
}

.node text {
  font-size: 11px;
  color: white;
}

path.link {
  fill: none;
  stroke: #F4D03F;
  stroke-width: 1px;
}


g text {
	display: inline-block;
	fill: #fff;
	font-size: 11px;
	letter-spacing: 1px;
}

.info {
	fill: #C8F7C5;
} 



